body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
.menuFlex{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100%;
}
a{
    color: orangered;
    text-decoration: none;
    border: 1px solid;
    padding: 8px 16px;
    transition: color 150ms linear 0s;
    margin-bottom: 8px;
}
a:hover{
    color: orange;
}
#codeFrame{
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 200px);
    height: 100%;
    border: none;
    background-color: lightgray;
}