body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
a{
    color: orangered;
    text-decoration: none;
    border: 1px solid;
    padding: 8px 16px;
    transition: color 150ms linear 0s;
}
a:hover{
    color: orange;
}
#codeFrame{
    position: fixed;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
}