body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
a{
    color: orangered;
    text-decoration: none;
    border: 1px solid;
    padding: 8px;
}
a:hover{
    color: orange;

}